cont_*
__history
*.dcu
*.DCU
*.dll
*.DLL
*.exe
*.EXE
*.zip
*.ZIP
*.7z
*.7Z
*.sql
*.SQL
*.~*
*.dsk
*.DSK
*.res
*.RES
*.ini
*.INI
*.identcache
*.skincfg
*.hlp
*.HLP
*.db3*
*.DB3
*.txt
*.TXT
*.bkp
*.BKP
*.mdf
*.MDF
*.mdl
*.MDL
*.xls
*.XLS
*.doc
*.DOC
*.local
*.LOCAL
*.CFG
*.cfg
*.BAK
*.bak
*.bdsproj
bin
downloads
exe
[B]backup